<!doctype html>
<html lang=en>
  <head>
    <meta charset=utf-8>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cards: <%= controller.action_name %></title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
  <!-- Google Analytics -->
  <% if ENV['GOOGLE_ANALYTICS'] %>
    <script>
      window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
      ga('create', '<%= ENV['GOOGLE_ANALYTICS'] %>', 'auto');
      ga('send', 'pageview');
    </script>
    <script async src='https://www.google-analytics.com/analytics.js'></script>
  <% end %>
  <!-- End Google Analytics -->
</head>
<body>
  <div class="flash"><%= flash[:notice] %></div>
  <%= yield  %>
</body>
</html>
